.body{font-family:<?php echo $fonts;?>}
    .phpcoding{width:900px; margin: 0 auto; background:#ddd;}
    .headeroption, .fotteroption{background:#444; color: #fff; text-align:center;padding:20px;}
    .headeroption h2, .fotteroption h2 {margin: 0}

    .maincontent {min-height:400px; padding:20px;}
.error {color: black;}

   
    .body{font-family:<?php echo $fonts;?>}
    .phpcoding{width:900px; margin: 0 auto; background:#ddd;}
    .headeroption, .fotteroption{background:#69df2e; color: #fff; text-align:center;padding:20px;}
    .headeroption h2, .fotteroption h2 {margin: 0}

    .maincontent {min-height:400px; padding:20px;}
.error {color: #FF0000;}
p{margin: 0}
.tblone{width:100%;border:1px; solid #fff;margin:20px 0}
.tblone td{padding:5px 10px; text-align: center;}
table.tblone tr:nth-child(2n+1){background:#fff;height:30px;}
table.tblone tr:nth-child(2n){background:#ffe;height:30px;}




ul.b {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #91df1c;
}



ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ddd;
}



li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


